{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}
{# ThemeWare® HC-Architecture® via configuration #}

{# ---------------- START: SET TEMPLATE VARS ---------------- #}

{# ThemeWare: Set theme variables #}
{% set twtProductBoxBtnBuyLayout = theme_config('twt-product-box-btn-buy-layout') %}
{% set twtProductBoxBtnBuyIconPosition = theme_config('twt-product-box-btn-buy-icon-position') %}
{% set twtIconCart = theme_config('twt-icon-cart') %}
{% set twtIconSet = theme_config('twt-iconset') %}

{# ---------------- END: SET TEMPLATE VARS ---------------- #}

{# @TODO:
	- Configure breakpoints
	- Configure icon (arrow-right, cart*, header-actions-button)
		- Add new cart icon (*)
	- Add HC-Architecture information to documentation
#}

{% block page_product_detail_product_buy_button %}
	{% if twtProductBoxBtnBuyLayout != '1' %}
		<div class="d-grid">
			<button class="btn btn-buy"
					title="{{ 'listing.boxAddProduct'|trans|striptags }}">
				{# ThemeWare: Set icon #}
				{% set icon %}
					{# @TODO: Check if ariaLabel is needed #}
					{% if twtIconSet is not same as ('default') %}
						{% if twtIconCart == 'bag' %}
							{% sw_icon 'bag' style { pack: 'themeware', size: 'sm'} %}
						{% elseif twtIconCart == 'basket' %}
							{% sw_icon 'basket' style { pack: 'themeware', size: 'sm' } %}
						{% else %}
							{% sw_icon 'cart' style { pack: 'themeware', size: 'sm' } %}
						{% endif %}

					{% else %}
						{% sw_icon 'bag' style { size: 'sm' } %}

					{% endif %}
				{% endset %}

				{# ThemeWare: Add icon #}
				{% if twtProductBoxBtnBuyIconPosition == '1' %}
					{{ icon }} <span class="text">{{ 'listing.boxAddProduct'|trans|sw_sanitize }}</span>
				{% else %}
					<span class="text">{{ 'listing.boxAddProduct'|trans|sw_sanitize }}</span> {{ icon }}
				{% endif %}

				{#
					<span>{{ 'listing.boxAddProduct'|trans|sw_sanitize }}</span> {% sw_icon 'cart' style { pack: 'themeware' } %}
					<span>Add to</span> {% sw_icon 'cart' style { pack: 'themeware' } %}
					{% sw_icon 'cart' style { pack: 'themeware' } %}
				#}
			</button>
		</div>

	{% else %}
		{# Default block #}
		{{ parent() }}

	{% endif %}
{% endblock %}