{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_detail %}
    <div class="d-grid">
        <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
           class="btn btn-light product-button-detail"
           title="{{ "listing.boxProductDetails"|trans|striptags }}">
            {{ "listing.boxProductDetails"|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}

{% block component_product_box_action_inner %}

    {{ parent() }}

    {% if gtmConfig.pluginActiveInSaleschannel %}
        <input type="hidden"
               name="dtgs-gtm-product-sku"
               value="{{ product.productNumber }}">
    {%  endif %}

{% endblock %}

{% block component_product_box_action_form %}

    {{ parent() }}

    {% sw_include 'storefront/plugins/TagManager/product-card-action.html.twig' %}

{% endblock %}