{# ThemeWare® CMS element "Text slide" #}

{# @TODO: prüfen... #}

{# ---------------- START: SET VARS ---------------- #}

{# ThemeWare: Set variables #}
{% set twtHeroSlide = element.fieldConfig.elements %}

{# General #}
{% set twtHrSldTeaser = element.translated.config.teaser.value %}
{% set twtHrSldTitle = element.translated.config.title.value %}
{% set twtHrSldContent = element.translated.config.content.value %}

{% set twtHrSldUrl = element.translated.config.url.value %}
{% set twtHrSldNewTab = element.translated.config.newTab.value %}
{# fullLink > allways 'true' (confing disabled) #}

{# Tab "Layout" #}
{% set twtHrSldPadding = twtHeroSlide.padding.value %}
{% set twtHrSldBorderRadius = twtHeroSlide.borderRadius.value %}

{% set twtHrSldTextAlignment = twtHeroSlide.textAlignment.value %}
{% set twtHrSldTextShadow = twtHeroSlide.textShadow.value %}

{% set twtHrSldItemFontFamilyTeaser = twtHeroSlide.fontFamilyTeaser.value %}
{% set twtHrSldTextColorTeaser = twtHeroSlide.textColorTeaser.value %}

{% set twtHrSldItemFontFamilyTitle = twtHeroSlide.fontFamilyTitle.value %}
{% set twtHrSldTextColorTitle = twtHeroSlide.textColorTitle.value %}

{% set twtHrSldItemFontFamily = twtHeroSlide.fontFamily.value %}
{% set twtHrSldTextColor = twtHeroSlide.textColor.value %}

{% set twtHrSldWidth = twtHeroSlide.width.value %}
{% set twtHrSldMaxWidth = twtHeroSlide.maxWidth.value %}
{% set twtHrSldVerticalAlignment = twtHeroSlide.verticalAlignment.value %}
{% set twtHrSldHorizontalAlignment = twtHeroSlide.horizontalAlignment.value %}
{% set twtHrSldOverlayAnimation = twtHeroSlide.overlayAnimation.value %}

{% set twtHrSldOverlay = twtHeroSlide.overlay.value %}
{% set twtHrSldBgOverlay = twtHeroSlide.bgOverlay.value %}
{% set twtHrSldBackdropEffect = twtHeroSlide.backdropEffect.value %}
{% set twtHrSldShadow = twtHeroSlide.shadow.value %}
{% set twtHrSldRounded = twtHeroSlide.rounded.value %}

{% set twtHrSldColorOverlay = twtHeroSlide.colorOverlay.value %}
{% set twtHrSldColorOverlayBgColor = twtHeroSlide.colorOverlayBgColor.value %}
{% set twtHrSldColorOverlayBgGradient = twtHeroSlide.colorOverlayBgGradient.value %}
{% set twtHrSldColorOverlayBgColor2 = twtHeroSlide.colorOverlayBgColor2.value %}
{% set twtHrSldColorOverlayBgGradientAngle = twtHeroSlide.colorOverlayBgGradientAngle.value %}

{# Tab "Responsive" #}
{% set twtHrSldDisplayMode = twtHeroSlide.displayMode.value %}
{% set twtHrSldBreakpointImage = twtHeroSlide.breakpointImage.value %}
{% set twtHrSldMinHeight = twtHeroSlide.minHeight.value %}

{% set twtHrSldBreakpoint = twtHeroSlide.breakpoint.value %}
{% if twtHrSldBreakpoint is empty %}
    {% set twtHrSldBreakpoint = 'sm' %}
{% endif %}
{% set twtHrSldBgOverlay2 = twtHeroSlide.bgOverlay2.value %}

{# Tab "Slide" #}
{# duration (not used in element)#}
{% set twtHrSldOverlaySizing = twtHeroSlide.overlaySizing.value %}
{# from (not used in element) #}
{# until (not used in element) #}

{# Tab "SEO" #}
{% set twtHrSldHtmlTag = twtHeroSlide.htmlTag.value %}
{% if twtHrSldHtmlTag is empty %}
    {% set twtHrSldHtmlTag = 'p' %}
{% endif %}
{% set twtHrSldHtmlTagClass = twtHeroSlide.htmlTagClass.value %}

{% set twtHrSldLzyLdng = twtHeroSlide.lazyLoading.value %}

{# Tab "Advanced" #}
{% set twtHrSldCssClass = twtHeroSlide.cssClass.value %}
{% set twtHrSldCssClassTeaser = twtHeroSlide.cssClassTeaser.value %}
{% set twtHrSldCssClassTitle = twtHeroSlide.cssClassTitle.value %}
{% set twtHrSldCssClassText = twtHeroSlide.cssClassText.value %}

{# Set title attribute #}
{# INFO: 'Text' (mandatory) #}
{# => 'Title' > shortened 'Text'* #}
{# @TODO: Add title to seo config ? #}
{% if twtHrSldTitle %}
    {% set title = twtHrSldTitle %}
{% else %}
    {% set title = twtHrSldContent|striptags|raw|length > 25 ? twtHrSldContent|striptags|raw|slice(0, 25) ~ '...' : twtHrSldContent|striptags|raw %}
{% endif %}

{# ---------------- END: SET VARS ---------------- #}

{# ---------------- START: SET CLASSES ---------------- #}

{% set elementClasses = ['element', 'twt-cms-element'] %}
{% set elementClasses = ['twt-cms-hero-slide']|merge(elementClasses) %}
{% set elementClasses = ['twt-hero-slider-slide']|merge(elementClasses) %}
{# @TODO: Element classes... #}

{% set contentClasses = ['content'] %}

{% if twtHrSldOverlay %}
    {% set contentClasses = ['is-styled']|merge(contentClasses) %}

    {% if twtHrSldShadow == 'default' %}
        {% set contentClasses = ['shadow-twt']|merge(contentClasses) %}
    {% elseif twtHrSldShadow == 'smallBs' %}
        {% set contentClasses = ['shadow-sm']|merge(contentClasses) %}
    {% elseif twtHrSldShadow == 'regularBs' %}
        {% set contentClasses = ['shadow']|merge(contentClasses) %}
    {% elseif twtHrSldShadow == 'largeBs' %}
        {% set contentClasses = ['shadow-lg']|merge(contentClasses) %}
    {% endif %}

    {% if twtHrSldRounded == 'rounded' and twtHrSldBreakpoint != 'none' %}
        {% set contentClasses = ['rounded']|merge(contentClasses) %}
    {% endif %}
{% endif %}

{% if twtHrSldOverlayAnimation != 'none' and twtHrSldBreakpoint != 'none' %}
    {% set contentClasses = ['twt-animate']|merge(contentClasses) %}

    {% if twtHrSldOverlayAnimation == 'fadeIn' %}
        {% set contentClasses = ['twt-fade-in']|merge(contentClasses) %}
    {% elseif twtHrSldOverlayAnimation == 'fadeInDown' %}
        {% set contentClasses = ['twt-fade-in-down']|merge(contentClasses) %}
    {% elseif twtHrSldOverlayAnimation == 'fadeInLeft' %}
        {% set contentClasses = ['twt-fade-in-left']|merge(contentClasses) %}
    {% elseif twtHrSldOverlayAnimation == 'fadeInRight' %}
        {% set contentClasses = ['twt-fade-in-right']|merge(contentClasses) %}
    {% elseif twtHrSldOverlayAnimation == 'fadeInUp' %}
        {% set contentClasses = ['twt-fade-in-up']|merge(contentClasses) %}
    {% endif %}
{% endif %}

{# Image cover/contain via breakpoint configuration #}
{% if twtHrSldDisplayMode == 'cover' %}
    {% set imageClasses = 'twt-cover' %}
{% elseif twtHrSldDisplayMode == 'cover-contain' %}
    {% if twtHrSldBreakpointImage == 'xs' %}
        {% set imageClasses = 'twt-cover twt-contain-xs' %}
    {% elseif twtHrSldBreakpointImage == 'sm' %}
        {% set imageClasses = 'twt-cover twt-contain-sm' %}
    {% elseif twtHrSldBreakpointImage == 'md' %}
        {% set imageClasses = 'twt-cover twt-contain-md' %}
    {% elseif twtHrSldBreakpointImage == 'lg' %}
        {% set imageClasses = 'twt-cover twt-contain-lg' %}
    {% elseif twtHrSldBreakpointImage == 'xl' %}
        {% set imageClasses = 'twt-cover twt-contain-xl' %}
    {% elseif twtHrSldBreakpointImage == 'xxl' %}
        {% set imageClasses = 'twt-cover twt-contain-xxl' %}
    {% endif %}
{% elseif twtHrSldDisplayMode == 'contain-cover' %}
    {% if twtHrSldBreakpointImage == 'xs' %}
        {% set imageClasses = 'twt-contain twt-cover-xs' %}
    {% elseif twtHrSldBreakpointImage == 'sm' %}
        {% set imageClasses = 'twt-contain twt-cover-sm' %}
    {% elseif twtHrSldBreakpointImage == 'md' %}
        {% set imageClasses = 'twt-contain twt-cover-md' %}
    {% elseif twtHrSldBreakpointImage == 'lg' %}
        {% set imageClasses = 'twt-contain twt-cover-lg' %}
    {% elseif twtHrSldBreakpointImage == 'xl' %}
        {% set imageClasses = 'twt-contain twt-cover-xl' %}
    {% elseif twtHrSldBreakpointImage == 'xxl' %}
        {% set imageClasses = 'twt-contain twt-cover-xxl' %}
    {% endif %}
{% elseif twtHrSldDisplayMode == 'contain' %}
    {% set imageClasses = 'twt-contain' %}
{% elseif twtHrSldDisplayMode == 'standard' %} {# Fallback #}
    {% set imageClasses = 'twt-contain' %}
{% endif %}

{% if twtHrSldOverlay %}
    {% if twtHrSldBackdropEffect is not empty and twtHrSldBackdropEffect != 'none' %}
        {% set contentClasses = ['twt-bg-'~twtHrSldBackdropEffect]|merge(contentClasses) %}
    {% endif %}
{% endif %}

{# ---------------- END: SET CLASSES ---------------- #}

{# ---------------- START: SET OTHER VARS ---------------- #}

{% if twtHrSldTextShadow == 'small' %}
    {% set textClasses = 'twt-text-shadow-sm' %}
{% elseif twtHrSldTextShadow == 'regular' %}
    {% set textClasses = 'twt-text-shadow' %}
{% elseif twtHrSldTextShadow == 'large' %}
    {% set textClasses = 'twt-text-shadow-lg' %}
{% endif %}

{% set lazyloading = twtHrSldLzyLdng ?: 'eager' %}

{# ---------------- END: SET OTHER VARS ---------------- #}

{# @TODO: Clean up if statements and classes... #}

{% block element_twt_text_image_slide %}
    {# ThemeWare: Set image element #}
    {% set imageElement %}
        <div class="twt-hero-slider-item-image-container twt-text-image-slide-image-container {# w-100 #} cms-image-container image-container {{ imageClasses }}" {% if twtHrSldMinHeight and twtHrSldDisplayMode == 'cover' %} style="min-height: {{ twtHrSldMinHeight }};"{% endif %}>

            {# ThemeWare: Add colored overlay if configured #}
            {% if twtHrSldColorOverlay %}
                <div class="twt-call-to-action-slide-overlay color-overlay"
                     style="background: {{ twtHrSldColorOverlayBgColor }};{% if twtHrSldColorOverlayBgGradient %} background: linear-gradient({{ twtHrSldColorOverlayBgGradientAngle }}deg, {{ twtHrSldColorOverlayBgColor }} 0%, {{ twtHrSldColorOverlayBgColor2 }} 100%);{% endif %}"></div>
            {% endif %}

            {% block element_twt_text_image_slide_image_media %}
                {# INFO: Meida 'title' and 'alt' attributes can be implemented via the media manager. #}
                {% set attributes = {
                    class: 'twt-hero-slider-image w-100',
                    alt: (element.data.media.translated.alt ?: ''),
                    title: (element.data.media.translated.title ?: title),
                    loading: lazyloading
                } %}

                {% if twtHrSldDisplayMode == 'cover' or twtHrSldDisplayMode == 'contain' %}
                    {% set attributes = attributes|merge({ 'data-object-fit': twtHrSldDisplayMode }) %}
                {% endif %}

                {% sw_thumbnails 'cms-image-slider-thumbnails' with {
                    media: element.data.media
                } %}
            {% endblock %}

        </div>
    {% endset %}

    {# ThemeWare: Set text element #}
    {% set textElement %}

        {% block element_twt_text_image_slide_text %}
            <div class="twt-hero-slider-item-container{% if twtHrSldOverlaySizing == 'boxed' %} is-{{ twtHrSldOverlaySizing }}{% endif %}">
                <div class="twt-hero-slider-item-inside justify-content-{{ twtHrSldHorizontalAlignment }} align-items-{{ twtHrSldVerticalAlignment }}">
                    <div class="twt-hero-slider-item-content {{ contentClasses|sort|join(' ') }}"
                         style="text-align: {{ twtHrSldTextAlignment }}; width: {{ twtHrSldWidth }}; max-width: {{ twtHrSldMaxWidth }};">
                        {# Teaser #}
                        {% if twtHrSldTeaser %}
                            <p class="twt-hero-slider-item-teaser teaser{% if twtHrSldItemFontFamilyTeaser != 'base' %} twt-font-family-{{ twtHrSldItemFontFamilyTeaser }}{% endif %}{% if textClasses is not empty %} {{ textClasses }}{% endif %}{% if twtHrSldCssClassTeaser is not empty %} {{ twtHrSldCssClassTeaser }}{% endif %}"
                               style="color: {{ twtHrSldTextColorTeaser }};">
                                {{ twtHrSldTeaser }}
                            </p>
                        {% endif %}

                        {# Headline #}
                        {% if twtHrSldTitle %}
                            <{{ twtHrSldHtmlTag }} class="twt-hero-slider-item-headline headline {{ twtHrSldHtmlTagClass }} twt-font-family-{{ twtHrSldItemFontFamilyTitle }}{% if textClasses is not empty %} {{ textClasses }}{% endif %}{% if twtHrSldCssClassTitle is not empty %} {{ twtHrSldCssClassTitle }}{% endif %}"
                               style="color: {{ twtHrSldTextColorTitle }};">
                                <span>{{ twtHrSldTitle }}</span>
                            </{{ twtHrSldHtmlTag }}>
                        {% endif %}

                        {# Text (mandatory) #}
                        {# Info: HTML möglich, Links werden im fullLinked nicht unterstützt! #}
                        <div class="twt-hero-slider-item-text text{% if twtHrSldItemFontFamily != 'base' %} twt-font-family-{{ twtHrSldItemFontFamily }}{% endif %}{% if textClasses is not empty %} {{ textClasses }}{% endif %}{% if twtHrSldCssClassText is not empty %} {{ twtHrSldCssClassText }}{% endif %}"
                             style="color: {{ twtHrSldTextColor }};">
                            {{ twtHrSldContent|raw }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% endset %}

    {# ThemeWare: Set element #}
    <div class="cms-element-{{ element.type }} twt-text-image-slide {{ elementClasses|sort|join(' ') }} twt-break-{{ twtHrSldBreakpoint }}{% if twtHrSldCssClass is not empty %} {{ twtHrSldCssClass }}{% endif %}"
         {% if twtHrSldBorderRadius != '0' %}style="border-radius: {{ twtHrSldBorderRadius }}; overflow: hidden;"{% endif %}
    >

        {# ThemeWare: Parse vars to css #}
        {% block element_twt_text_image_slide_styles %}
            {% apply spaceless %}
<style>
    div[data-cms-element-id="{{element.id}}"] {
        --twt-min-height: {{ twtHrSldMinHeight }};
        {% if twtHrSldOverlay %}
            --twt-bg-color: {{ twtHrSldBgOverlay }};
        {% else %}
            --twt-bg-color: transparent;
        {% endif %}
        {% if twtHrSldBreakpoint != 'all' %}
            --twt-bg-color-2: {{ twtHrSldBgOverlay2 }};
        {% endif %}
        --twt-link-color: {{ twtHrSldTextColor }};
        --twt-padding: {{ twtHrSldPadding }};
        {% block element_twt_text_image_slide_styles_inside %}{% endblock %}
    }
</style>
            {% endapply %}
        {% endblock %}

        {# ThemeWare: Set content #}
        {% block element_twt_text_image_slide_content %}
            {% if twtHrSldUrl %}
                {# INFO: Title tag = Title text (not mandatory) OR shortened text (mandatory) #}
                <a href="{{ twtHrSldUrl }}"
                   class="cms-image-link is-fulllink"
                   title="{{ title }}"
                   {# @TODO tag:v6.7.0 - Check if aria-label is needed #}
                   {% if twtHrSldNewTab %}target="_blank" rel="noopener"{% endif %}
                >
                    {# ThemeWare: Load image element #}
                    {{ imageElement }}

                    {# ThemeWare: Load text element #}
                    {{ textElement }}
                </a>

            {% else %}
                {# ThemeWare: Load image element #}
                {{ imageElement }}

                {# ThemeWare: Load text element #}
                {{ textElement }}

            {% endif %}
        {% endblock %}

    </div>
{% endblock %}